body {
    display: flex;
    background-color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    align-content: center;
}

.cordefundo {
    background-color: orangered;
}

.descricaodacor {
    margin: auto;
    padding:17px;

} 

.imagens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.imagemum {
    display: flex;
    width: calc(100% - 40px);
    padding:20px;
    border-bottom: solid 2px #464646;
}

.Boxshadow {
    border-radius: 10px;
    box-shadow: 2px 5px 5px 1px rgb(26, 26, 26);
}

.imagemum img {
    width: 300px;
}

.imagemdois {
   display: flex;
   flex-direction: row-reverse;
   padding: 20px;
}
.imagemdois img {
    margin-right: 0;
    margin-left: auto;
   
}
.texts {
    padding-left: 25px;
    font-size: 19px;
}

.menu {
    overflow: hidden;
    position: sticky;
    top:0px;
    width: 100%;
    background-color: coral;

}

.menu a {
    float: left;
    font-size: 18px;
    padding:15px;
    text-decoration: none;
    color: black;
}
